.inline-block {
  display: inline-block;
  vertical-align: top;
  font-family: Avenirnext, sans-serif;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: left;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:#373738;
}

nav ul {
  width: 50%;
  margin-left: auto;
}

/* NAVIGATION */
.navigation {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: Avenirnext, sans-serif;

}


/* HERO IMAGE */

.heroImg {
  height: 600px;
  padding: 25px;
}

.content {
  width: 500px;
  margin: 0 auto;
  font-family: Avenirnext, sans-serif;
 
}

.content img{
  max-width: 300px;
}


.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .flexContainer > div {
    width: 33%;
    height: 500px;
    margin: 0 10px;
    padding: 20px;
    background-color: #f2f2f2;

  }
  
  .workGrid {
    display: grid;
    grid-template-areas:
      "mywork mywork"
      "mywork2 mywork2"
      "mywork3 mywork3";
    grid-template-rows: 200px repeat(2, 1fr) 100px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  
.workGrid > div {
  padding: 20px;
  background-color: #f2f2f2;

  display: flex; /* Make the div a flex container */
  flex-direction: column; /* Align child elements vertically */
  justify-content: center; /* Center child elements horizontally */
  align-items: center; /* Center child elements vertically */
  }

.workGrid > div img {
  max-width: 100%; /* Ensure the image fits within its parent div */
  }
  
  /* Mobile Media Query */
  @media only screen and (max-width: 600px) {
    /* Flex container */
    .flexContainer {
      flex-direction: column;
    }
  
    .flexContainer > div {
      width: 100%;
      margin: 10px 0;
    }
  
    /* Grid container */
    .workGrid {
      grid-template-areas:
      "mywork mywork"
      "mywork2 mywork2"
      "mywork3 mywork3";
      grid-template-rows: repeat(14, 1fr);
      grid-template-columns: 1fr;
      gap: 10px;
      
    }
  
    .workGrid > div {
      padding: 10px;
    }
  }

/* FOOTER */

.footer {
  background-color: #373738;
  padding: 50px;
  
  
}

.ul {
  width: 50%;
  margin-left: auto;
}

.li {
  padding: center;
}


/* extra code */

button {
  background-color: white;
  border: none;
  border-radius: 20px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.3s;
}

button:hover {
  background-color: red;
  color: white;
}

p {
  font-family: Avenirnext, sans-serif;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  
}

h1 {
    
    font-family: Avenirnext, sans-serif;
    text-transform: uppercase;
    color: #757678;


}

h3 {
  font-weight: 600px;
  font-family: Avenirnext, sans-serif;
  text-align: center;
  cursor: pointer;


}

.view-all-projects:hover {
  color: red;

}

.skillimage {
  text-align: center;
}

.spin {
  animation: spin 1s linear forwards;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imagecontainer img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-out;
}

.imagecontainer:hover img {
  transform: scale(1.5);
}


/* Navbar */
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.logo {
  width: 23%;
  padding: 1%;
}
nav {
  width: 73%;
  padding: 1%;
}
ul {
  width: 50%;
  margin-left: auto;
}

/* Hero Image */
.heroImg {
  height: 600px;
  padding: 25px;
}
.content {
  width: 500px;
  margin: 0 auto;
}

/* Footer */
footer {
  background-color: #373738;
  padding: 10px;
}
ul {
  display: inline-block;
  vertical-align: top;
}
li {
  padding: 0 10px;
  text-align: center;
}

body {
  direction: ltr;
}

header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #E8E6E6;
  padding: 100px 15px;
}